.login-clean {
  background:white;
  padding: 80px 0;

}

.login-clean form {
  max-width: 320px;
  width: 90%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 4px;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

.login-clean .illustration {
  text-align: center;
  padding: 0 0 20px;
  font-size: 100px;
  color: rgb(0, 22, 27);
  opacity: 0.8;
}

.login-clean form .form-control {
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 8px;
  height: 42px;
  opacity: 0.8;
}



.login-clean form .btn-primary:hover, .login-clean form .btn-primary:active {
  background: #05b8d8;
}

.login-clean form .btn-primary:active {
  transform: translateY(1px);
}


.login-clean form .forgot {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}

.login-clean form .forgot:hover, .login-clean form .forgot:active {
  opacity: 1;
  text-decoration: none;
}

button .btn-primary .login-clean form {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none !important;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn .login-clean form .btn-primary{
  border: none;
  border-radius: 4px;
  padding: 5px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none !important;
  background-color: #f44336;
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  background-color: #ff3729;
  border-radius: 4px;
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}
.quickbtn {
  background-color: rgb(7, 152, 172);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  background-color: #ff3729;
  border-radius: 4px;
}
.center {
  margin: auto;
  width: 50%;
  background-color:white;
  padding: 14px 20px;
  
}
.flex {
    display: flex;
    padding: 30px;

}
.sameRow {
    padding: 10px;
    height: 20px;
    width: 100%;
    margin: auto;
}
body {
  background-image: url('C:/Users/Teddy/Documents/GitHub/web-assignment/assets/images/colombo.jpg');
}

